.basicbutton {
    background: var(--main-color) ;
    border: var(--main-color) ;
    transition: 0.2s;
    padding: 0.25rem 0.75rem; 
}

.basicbutton:hover{
    background: var(--main-color);
    opacity: 0.5;
}

.basicbutton:focus {
    box-shadow: none;
}

.circular-btn {
    border-radius: 50%;
    max-width: 3rem !important;
    height: 3rem !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.rounded-border-btn {
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.basicbutton-outlined {
    background: transparent;
    color: var(--main-color);
}

.basicbutton-outlined:hover {
    color: var(--white-color)
}

@media (min-width: 576px) {
    .circular-btn {
        max-width: 3rem !important;
    }
}

@media (min-width: 768px) {
    .basicbutton {
        padding: .75rem 1.25rem; 
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
    .circular-btn {
        max-width: 3rem !important;
        height: 3rem !important;
    }
}

@media (min-width: 1400px) {

}