.form-inputnumber {
    max-width: 75% !important;
}

.inputnumber-label {
    color: var(--main-color);
    font-weight: 600;
}

.form-inputnumber input:hover {
    border-color: var(--secondary-color) !important;
}

.form-inputnumber input:focus {
    border-color: var(--secondary-color) !important;
    box-shadow: 0 0 0 .25rem var(--secondary-color) !important;
}

.invalid-inputnumber input {
    border-color: var(--error-color) !important;
    border-width: 2px !important;
}

.invalid-inputnumber input:focus {
    box-shadow: 0 0 0 .25rem var(--error-color-outline) !important;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}