.entrypage {
    min-height: 100vh;
    width: auto;
}

.logo {
    width: 10rem;
    height: fit-content;
}

.entrypage-square {
    padding: 1rem;
    width: 70vw !important;
    max-width: 60vw !important;
    height: 50vh;
}

.auth-button {
    min-width: 15rem;
    border-radius: 5px;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}