.homepage {

}

.utilitats-card {
    padding: .5rem;
}

.utilitats-card > * {
    color: black;
}

.utilitats-img {
    max-width: 4rem;
    max-height: 4rem;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}